<%- include ("partials/header.ejs") %>

<main>
    <h1>Events</h1>
    <p>
        Use this site to create events that display on <a href="https://www.sba.gov/events/">sba.gov/events</a>.  Click the 
        menu options above to perform the following:
    </p>
    <ul>
        <li>Create an Event</li>
        <li>Modify your Events</li>
        <li>Approve Events (SBA staff only)</li>
    </ul>
    <h2>Create an Event</h2>
    <p>Use the <a href="/events/new">Create an Event</a> page to submit events for approval by SBA.  You'll follow five steps:</p>
    <ol>
        <li>Provide basic information such as title, description, and the District Office that will approve the event for publication.</li>
        <li>Specify the date, time, whether the event is in person or online, and if it's recurring.</li>
        <li>Identify the physical location of the event, if necessary.</li>
        <li>List contact information, registration link, and if a cost is associated.</li>
        <li>Finally, select whether you want to save a draft or submit it immediately to SBA for approval.</li>
    </ol>
    <h2>Modify your Events</h2>
    <p>
        You can keep track of the events you've submitted and their status on the <a href="/events">Modify Events</a> page.
        Click on the 'Modify' link next to any event to modify the details of your event or submit it once you're ready.  After
        you press the 'Submit' button, you'll see the status change from Draft to Submitted for Approval.
    </p>
    <p>
        For recurring events, you will see a list of 'children' events that were generated as part of the criteria you selected.
    </p>
    <h2>Approve Events</h2>
    <p>
        For SBA staff that have permission to review and approve events, you will see an extra menu option, which allows you to review
        the events submitted for approval. You can approve them one at a time or you can use the Bulk Approve option to approve many events
        at once.
    </p>
    <h2>Need help?</h2>
    <p>
        If you need assistance with this tool, please submit a ticket at <a href="https://www.sba.gov/support">sba.gov/support</a>.
    </p>
</main>
<script>
    console.log(req.session.userId + req.session.userOffice)
</script>

<%- include ("partials/footer.ejs") %>
