<%- include ("partials/header.ejs") %>

<main>
    <div class="login-form">
        <h2>Login to your account</h2>
        <form>
        <input type="text" title="username" placeholder="username" />
        <br/>
        <input type="password" title="username" placeholder="password" />
        <br/>
        <br/>
        <button type="submit" class="btn">Login</button>
        </form>
    </div>
</main>

<%- include ("partials/footer.ejs") %>
