<header>
    <nav>
        <span id="menu-title"><a href="/"><img class="logo horizontal" src="/agency-logo.png" alt="SBA Logo"><img class="logo stacked" src="/agency-logo-stacked.png" alt="SBA Logo"></a></span>
        <span id="menu-create"><a href="/events/new">Create</a></span>
        <span id="menu-view"><a href="/events">Modify</a></span>
        <span id="menu-approve"><a href="/events/approve">Approve</a></span>
        <span id="menu-recurring"><a href="/signin">Login</a></span>
    </nav>
</header>
